@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease-in;
}

:root {
    --beaver: hsl(27, 22%, 51%);
    --codGray: hsl(0, 0%, 7%);
    --mirage: hsl(234, 30%, 13%);
    --ebonyClay: hsl(219, 22%, 18%);
    --shuttleGray: hsl(216, 14%, 42%);
    --white: hsl(0, 0%, 100%);
    --error: hsl(0, 43%, 50%);
    --bold: 700;
    --semi-bold: 600;
    --regular: 400;
    --light: 300;
    font-family: 'Spartan', sans-serif;
    font-size: 10px;
    font-weight: var(--regular);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border-style: none;
    outline: none;
}

body>* {
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    height: 130vh;
    background-image: url('../assets/booking/hero-bg-desktop.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top:30rem;
}
.form{
    width: 45rem;
    height: 45rem;
    background-color: var(--white);
}