@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap');
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .2s ease-in;
}

:root {
  --beaver: hsl(27, 22%, 51%);
  --codGray: hsl(0, 0%, 7%);
  --mirage: hsl(234, 30%, 13%);
  --ebonyClay: hsl(219, 22%, 18%);
  --shuttleGray: hsl(216, 14%, 42%);
  --white: hsl(0, 0%, 100%);
  --error: hsl(0, 43%, 50%);
  --bold: 700;
  --semi-bold: 600;
  --regular: 400;
  --light: 300;
  font-family: 'Spartan', sans-serif;
  font-size: 10px;
  font-weight: var(--regular);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border-style: none;
  outline: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  font-size: 1.8rem;
}

.hero {
  background-image: url('../assets/homepage/hero-bg-desktop.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.hero-grid {
  max-width: 540px;
  padding: 7rem 0 16.5rem;
  border: 2px solid red;
}

.hero__logo {
  margin-bottom: 14rem;
}

.hero__title {
  font-size: 6.4rem;
  font-weight: var(--light);
  margin-bottom: 2rem;
}

.hero__description {
  line-height: 3rem;
}

.button {
  padding: 25px 50px;
  margin: 40px 0;
  background-color: var(--codGray);
  border: 1px solid var(--white);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--semi-bold);
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
}

.button--transparent {
  background-color: transparent;
}

.button:hover {
  background-color: var(--white);
  color: var(--codGray);
}

.card {
  position: relative;
}

.card--top {
  margin-top: -8rem;
  margin-bottom: 10rem;
}

.card--bottom {
  margin-bottom: -8rem;
}

.card-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__image {
  position: relative;
}

.card__image img {
  box-shadow: 0 54px 74px -50px #5c6779;
}

.card__img--one {
  content: url('../assets/homepage/enjoyable-place-desktop.jpg');
}

.card__img--two {
  content: url('../assets/homepage/locally-sourced-desktop.jpg');
}

.lines {
  display: block;
  width: 150px;
  height: 80px;
  position: absolute;
  background-image: url('../assets/patterns/pattern-lines.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;
  top: 28rem;
  right: -10rem;
}

.pattern {
  position: absolute;
  width: 86rem;
  height: 30rem;
  bottom: 12rem;
  background-position: top center;
  background-size: cover;
  transform: scaleY(1.25);
  background-repeat: no-repeat;
}

.pattern--right {
  background-image: url('../assets/patterns/pattern-curve-top-left.svg');
  right: 0;
}

.pattern--left {
  background-image: url('../assets/patterns/pattern-curve-top-right.svg');
}

.card__info {
  width: 450px;
}

.card__info__title {
  position: relative;
  width: 400px;
  font-size: 4rem;
  line-height: 5.5rem;
  margin-bottom: 2rem;
}

.card__info__title::after {
  content: '';
  background-image: url('../assets/patterns/pattern-divide.svg');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 150px;
  height: 10px;
  top: -5rem;
  left: 0;
}

.card__info__description {
  line-height: 3rem;
}

.card--dark {
  color: var(--white);
}

.menu {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--codGray);
  color: var(--white);
  padding: 150px 0 100px;
}

.menu-grid {
  display: flex;
  justify-content: space-between;
}

.review {
  display: flex;
  gap: 3rem;
  padding: 2rem 0;
  border-bottom: 2px solid var(--ebonyClay);
}

.review:nth-last-child(1) {
  border: none;
}

.review__image {
  position: relative;
  width: 160px;
  height: 100px
}

.review__pattern {
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  right: 0;
  z-index: 1;
}

.review__image img {
  position: absolute;
  display: block;
  margin: 0;
  z-index: 2;
}

.review__detail {
  width: 360px;
  line-height: 3rem;
}

.review__detail__title {
  font-size: 1.8rem;
}

.review__detail__description {
  font-size: 1.5rem;
}

.options {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15rem 0;
  border: 1px solid blue;
}

.list {
  margin-top: 2rem;
}

.list__item {
  text-transform: uppercase;
  font-weight: var(--semi-bold);
  padding: 1.2rem 0;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #b3b5ba;
  position: relative;
  cursor: pointer;
}

.list__item:hover {
  color: var(--codGray);
}

.list__item--active {
  color: var(--codGray);
}

.list__item--active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 1px;
  top: 15px;
  left: -13rem;
  background-color: var(--beaver);
}

.ready {
  background-image: url('../assets/homepage/ready-bg-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1440px;
  margin: 0 auto;
}

.ready-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.8rem 0;
}

.card__info__title--white {
  width: auto;
  color: var(--white);
  margin: 0;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--codGray);
}

.footer-grid {
  display: flex;
  color: white;
  padding: 10rem 0;
  gap: 16rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.address {
  font-style: normal;
}

.schedule__title {
  font-size: 1.5rem;
  font-weight: var(--regular);
}

.phone:hover {
  color: var(--beaver);
  font-weight: var(--bold);
}

.imageee {
  content: url('../assets/homepage/enjoyable-place-desktop.jpg');
}

@media screen and (max-width:1024px) {
  .hero {
    background-image: url('../assets/homepage/hero-bg-tablet.jpg');
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }
  .hero-grid {
    width: 100%;
    padding: 35rem 0 12rem;
    margin: 6rem;
    text-align: center;
  }
  .hero__logo {
    margin-bottom: 4.5rem;
  }
  .hero__title {
    font-size: 4.6rem;
  }
  .card-grid {
    position: relative;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  .card__info {
    width: 450px;
    color: var(--mirage);
  }
  .card__info__pattern {
    margin-bottom: 4.5rem;
  }
  .card__info__title {
    width: 400px;
    font-size: 4rem;
    line-height: 5.5rem;
    margin-bottom: 2rem;
  }
  .card__info__description {
    line-height: 3rem;
  }
  .imageee {
    width: 100%;
    content: url('../assets/homepage/enjoyable-place-tablet.jpg');
  }
  .card__image {
    position: relative;
  }
  .card-grid {
    flex-direction: column;
    text-align: center;
  }
  .card--top{
    margin-bottom: 0;
  }
  .card--bottom{
    margin-bottom: 0;
  }
  .card-grid--two {
    flex-direction: column-reverse;
  }
  .card__img--one {
    content: url('../assets/homepage/enjoyable-place-tablet.jpg');
  }
  .card__img--two {
    content: url('../assets/homepage/locally-sourced-tablet.jpg');
  }
  .card__info {
    margin: 10rem auto;
  }
  .card__info__title {
    width: 100%;
  }
  .card__info__title::after {
    top: -5rem;
    left: 20rem;
  }
  .lines {
    top: 23rem;
    right: -5rem;
  }
  .pattern {
    width: 50rem;
    height: 18rem;
    transform: scaleY(1.7);
  }
  .pattern--right {
    bottom: 7rem;
  }
  .pattern--left {
    bottom: inherit;
    top: 28rem;
  }
}